# Core dependencies
dask[distributed]~=2024.11.1
dask[dataframe]                  # For Dask DataFrames
dask[array]                      # For Dask Arrays
dask[bag]                        # For Dask Bags


# Cluster management (optional, if using Kubernetes or similar)
dask-kubernetes                   # Dask on Kubernetes
dask-jobqueue                     # Dask on job queues (like PBS, SLURM, etc.)

# Optional dependencies for enhanced performance or monitoring
numpy                             # Array computing library
pandas                            # Data manipulation library

flask~=3.1.0
requests~=2.32.3
distributed~=2024.11.1
dill~=0.3.9